
<h1> DATOS de usuario</h1>
<ul class="list-group">
  <li class="list-group-item"><strong>usuario: </strong>{{user.id}}</li>
  <li class="list-group-item"><strong>nombre: </strong>{{user.nombre}}</li>
  <li class="list-group-item"><strong>apellido: </strong>{{user.apellido}}</li>
  <li class="list-group-item"><strong>fecha de registro: </strong>{{user.fecha}}</li>
</ul>
<a class="btn btn-default pull-left" href="/">Regresar</a>